<div id="404">
  <div class="container text-center">
    <h1 class="display-1 mb-3">404</h1>
    <hr/>
    <h2>A página que você procura não existe.</h2>
    <div class="help">
      <p>Você está vendo esta mensagem por engano?<br/><span class="mobile-spacer">&nbsp;</span>Por favor <a href="/contact">
        nos informe.</a></p>
    </div>
  </div>
</div>
