<div id="498">
  <div class="container text-center">
    <h1>
      Desculpe, esse link expirou ou
      <br/>
      <span class="mobile-spacer">&nbsp;</span>
      jรก foi usado.</h1>
    <hr/>
    <div class="help">
      <p>Precisa de mais ajuda para acessar sua conta?
        <br/>
        <span class="mobile-spacer">&nbsp;</span>
        Por favor
        <a href="/contact">
          entre em contato com o suporte</a>
        ou solicitar um novo
        <a href="/password/forgot">
          resetar a senha.</a>
      </p>
      <a class="btn btn-lg btn-outline-dark" href="/password/forgot">
        Redefinir senha</a>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>